<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="/css/estiloResumen.css" rel="stylesheet">
<title>Resumen</title>	
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="text-center text-light mt-3">Resumen de Mascotas Registradas</h1>
			</div>
		</div>
		
		<div class="row justify-content-center mt-4">
			<div class="col-md-6">
				<table class="table table-stripped bg-light">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nombre</th>
							<th scope="col">Especie</th>
							<th scope="col">Edad</th>
							<th scope="col">Vacunado</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<!-- th:text incrusta el texto que detecta en su variable asignada en el cuerpo del elemento HTML -->
							<!-- En este caso, m es un objeto de tipo mascota enviado desde el formulario (al hacer submit) -->
							<td th:text="${m.id}"></td>
							<td th:text="${m.nombre}"></td>
							<td th:text="${m.especie}"></td>
							<td th:text="${m.edad}"></td>
							<td th:text="${m.vacunado?'Si':'No'}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>